ByteartRetail.Infrastructure/Config/ByteartRetailConfigSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ByteartRetail.Infrastructure.Config" elementFormDefault="qualified" targetNamespace="urn:ByteartRetail.Infrastructure.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="byteartRetailConfigSection" type="tns:ByteartRetail.Infrastructure.Config.ByteartRetailConfigSectionCT" />
	<xs:complexType name="ByteartRetail.Infrastructure.Config.ByteartRetailConfigSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="permissionKeys" type="tns:ByteartRetail.Infrastructure.Config.PermissionKeyElementCollectionCT">
				<xs:annotation>
					<xs:documentation>The PermissionKeys.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="presentation" type="tns:ByteartRetail.Infrastructure.Config.PresentationElementCT">
				<xs:annotation>
					<xs:documentation>The Presentation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="emailClient" type="tns:ByteartRetail.Infrastructure.Config.EmailClientElementCT">
				<xs:annotation>
					<xs:documentation>The EmailClient.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ByteartRetail.Infrastructure.Config.PermissionKeyElementCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="permissionKey" type="tns:ByteartRetail.Infrastructure.Config.PermissionKeyElementCT">
				<xs:annotation>
					<xs:documentation>The PermissionKeyElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ByteartRetail.Infrastructure.Config.PermissionKeyElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="roleName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoleName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="keyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The KeyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ByteartRetail.Infrastructure.Config.PresentationElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="productsPageSize" use="required" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ProductsPageSize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ByteartRetail.Infrastructure.Config.EmailClientElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="host" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="userName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The UserName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="enableSsl" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnableSsl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sender" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Sender.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
